
body{
  background-color: rgb(33,37,41);
}

a {
  text-decoration: none;
  color: #f1f1f1;
}

.card-img-center{
  max-width: 500px;
  margin: 25px;
}

.dropdown-menu{
  background-color: rgb(33,37,41);
  border: 1px solid white
}